.hero {
    --width-slide: 590px;
    --height-slide: 530px;
    --width-block: calc(50% - 10px);
    --gap: 10px;
    padding-top: 0;
    overflow: hidden;
}

.hero__container {
    display: flex;
    gap: var(--gap);
    position: relative;
}

.hero__content {
    flex: 0 0 var(--width-block);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.hero__slider-block {
    position: absolute;
    left: calc(var(--width-block) + var(--gap) / 2);
    width: calc(((var(--width-block) + var(--gap)) * 2) - var(--gap));
}

.hero__title {
    margin-bottom: 32px;
}

.hero__description {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 32px;
}

.hero__link {

}



.hero__image {
    width: var(--width-slide);
    height: var(--height-slide);
    background-position: center;
    background-size: cover;
    border-radius: 12px;

}

.hero__slider {
    position: relative;
}

.hero__arrow {
    position: absolute;
    bottom: 50px;
    left: calc(var(--width-slide) - 50px);
    transform: translateX(-100%);
    display: flex;
    gap: 8px;
    z-index: 3;
}

.hero__slider-btn {
    display: block;
    width: 42px;
    height: 42px;
    background: #FFC700 url('../img/arrow.svg') no-repeat center/12px;
    border-radius: 50%;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.hero__slider-btn_prev {
    transform: rotate(180deg);
}

.hero__slider-btn_next {
    
}